{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fashion World Cart</title>
    <link href="{% static 'css/cart.css' %}" rel="stylesheet">
</head>
<body>
<div class="ShoppingCart">
  <div class="item1">
    <div class="title1">Woven Kanjivaram Art Silk Saree</div>
    <div class="p11">₹4999/-</div>
    <div class="p12">₹4999/-</div>
    <div class="InputField1">
      <div class="Pcs1">1 Pcs</div>
      <div class="Icon1">
        <img class="Union" style="width: 32px; height: 32px" src="{% static 'images/Icon pen.png' %}" />
      </div>
    </div>
    <img class="saipallavi" src="{% static 'images/sai_pallavi.png' %}" />
  </div>
  <div class="item2">
    <div class="title2">White Embroidered Kurta Pajama For Men</div>
    <div class="p21">₹3450/-</div>
    <div class="InputField2">
      <div class="Pcs2">1 Pcs</div>
      <div class="Icon2">
        <img class="Union" style="width: 32px; height: 32px" src="{% static 'images/Icon pen.png' %}" />
      </div>
    </div>
    <div class="p22">₹3450/-</div>
    <img class="alluarjun" src="{% static 'images/Allu_arjun.png' %}" />
  </div>
  <div class="item3">
    <div class="title3">Women's Rayon Gold Printed Kurta and Pant Set</div>
    <div class="p31">₹1249/-</div>
    <div class="InputField3">
      <div class="Pcs3">1 Pcs</div>
      <div class="Icon3">
        <img class="Union" style="width: 32px; height: 32px" src="{% static 'images/Icon pen.png' %}" />
      </div>
    </div>
    <div class="p32">₹1249/-</div>
    <img class="nitya" src="{% static 'images/Nitya_menon.png' %}" />
  </div>
  <div class="Summary">
    <div class="OrderSummary">Order summary</div>
    <div class="Subtotal">Subtotal</div>
    <div class="p9698">
      <span style="color: black; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20.80px; word-wrap: break-word">₹</span>
      <span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20.80px; word-wrap: break-word">9,698/-</span>
    </div>
    <div class="Shipping">Shipping</div>
    <div class="p70">
      <span style="color: black; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20.80px; word-wrap: break-word">₹</span>
      <span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20.80px; word-wrap: break-word">70/-</span>
    </div>
    <div class="Tax">Tax</div>
    <div class="2" style="left: 339px; top: 156px; position: absolute; text-align: right">
      <span style="color: black; font-size: 16px; font-family: Inter; font-weight: 700; line-height: 20.80px; word-wrap: break-word">₹</span>
      <span style="color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 20.80px; word-wrap: break-word">2/-</span>
    </div>
    <div class="Total">Total</div>
    <div class="p9770">₹9,770</div>
    <form action="paymentpage" method="post">
      {% csrf_token %}
      <button class="Button">
        <div class="ContinueToPayment">Continue to payment</div>
      </button>
    </form>
  </div>
  <div class="PageHeading">
    <div class="Items">3 items</div>
    <div class="Cart" style="left: 96px; top: 56px; position: absolute">
      <span style="color: black; font-size: 64px; font-family: Newsreader; font-weight: 700; line-height: 76.80px; word-wrap: break-word">🛒</span>
      <span style="color: black; font-size: 64px; font-family: Newsreader; font-weight: 400; line-height: 76.80px; word-wrap: break-word">Cart</span>
    </div>
    <div class="Divider"></div>
  </div>
  <div class="Header">
    <div class="FashionWorld">🗺︎FASHION WORLD</div>

    <form action="productpage" method="post">
      {% csrf_token %}
      <button class="ShopButton">
        <div class="Shop">Shop</div>
      </button>
    </form>

    <div class="WhoWeAre">Who we are</div>
    <div class="MyProfile" style="">My profile</div>

<!--    <form action="cartpage" method="post">-->
<!--      {% csrf_token %}-->
<!--      <button class="CartButton">-->
<!--        <div class="Cart3">🛒Cart (3)</div>-->
<!--      </button>-->
<!--    </form>-->
  </div>
</div>
</body>
</html>